EMQX_PROTOCOL=mqtts
EMQX_USERNAME=your_username
EMQX_PASSWORD=your_password
EMQX_HOST=your_emqx_host.com
EMQX_PORT=8883
TEMP_SCRIPT_DIR=/sdcard/Download
AUTOJS6_REPORT_URL=https://example.com/api/v1/admin/mobile/device
AUTOJS6_REPORT_TOKEN=generated_once_on_admin_page
