PORT=3000
MQTT_PORT=1883
PC_IP=192.168.12.240

# 若填入外部云端 EMQX URL，PC 端将自动将任务直接推送到云端 EMQX：
EMQX_PROTOCOL=mqtts
EMQX_USERNAME=your_username
EMQX_PASSWORD=your_password
EMQX_HOST=your_emqx_host.com
EMQX_PORT=8883
